## PROBLEM SET 2

# Question 1

Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement

# Solution

The output must be 6 because 
during first excution b() , the program starts and function b() runs according to its definition and calls c(a) which return     0+2 = 2 
now a = 2
during second excution b() , same procedure was repeated which return value 2+2 = 4 
now a = 4
during third excution b() , same procedure was repeated again which returned 4+2 =6
now a = 6
so , when a is excuted this will show the value of which 6

# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

# Solution

In [1]:
def file_length(filename):
    try:
        file = open(filename)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print('File not found.')
file_length('PythonCode9.py') # this file exists in system

676

In [2]:
file_length('Pie.py') # this file does not exist in system

File not found.

# Question 3

Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

# Solution

In [28]:
import random
class Marsupial:
    def __init__(self):
        self.a = []
    def put_in_pouch(self, item):
        return self.a.append(item)    
    def pouch_contents(self):
        return self.a
class Kangaroo(Marsupial):
    def __init__(self, xcoord=0, ycoord=0):
        Marsupial.__init__(self)
        self.x = xcoord
        self.y = ycoord
    def setx(self, xcoord):
        self.x = xcoord

    def sety(self, ycoord):
        self.y = ycoord

    def get(self):
        return (self.x, self.y)

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return "I am a kangaroo located at coordinate({}, {})".format(self.x, self.y)

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [29]:
k = Kangaroo(0,0)
print(k)
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

I am a kangaroo located at coordinate(0, 0)
I am a kangaroo located at coordinate(3, 0)

['doll', 'firetruck', 'kitten']

# Question 4


Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {    𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
        3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑

Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

# Solution

In [69]:
def collatz(x):
    if x == 1:
        return 1
    elif x%2 == 0:
        p = 𝑥/2
        print(p)
        collatz(p)
    else:
        s = 3*𝑥 + 1
        print(s)
        collatz(s)
        
collatz(1)

1

In [70]:
collatz(10)

5.0
16.0
8.0
4.0
2.0
1.0

# Question 5


Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

# Solution

In [13]:
def binary(num):
    if (num == 0):
        return 0
    else:
        binary(int(num/2))
        print(num%2,end="")

In [14]:
binary(0)

0

In [15]:
binary(1)

1

In [16]:
binary(3)

11

In [17]:
binary(9)

1001

# Question 6


Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have 
indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

# Solution

In [99]:
from IPython.core.display import display, HTML
from urllib.request import urlopen
from html.parser import HTMLParser

In [100]:
class HeadingParser(HTMLParser):
    headings = ['h1','h2','h3','h4','h5','h6']
    def handle_starting(self,t,a):
        if t in self.headings:
            print(t)
    
    def handle_endtag(self,t):
        if t in self.headings:
            print(t)
            
    def handle_data(self,d):
        print(d)
        

parser = HeadingParser()
infile = open ('w3c.html')
content = infile.read()
infile.close()
a = HeadingParser()
a.feed(content)

W3C Mission Summary






W3C Mission
h1



The W3C mission is to lead the World Wide Web to its full potential

by developing protocols and guidelines that ensure the long-term growth of the Web.



Principles
h2




Web for All


Web on Everything



See the complete
W3C Mission document
.

# Question 7


Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.
>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)
 http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

# Solution

In [3]:
from IPython.core.display import display, HTML
from urllib.request import urlopen
from html.parser import HTMLParser 
def webdir(url,depth,indent):
    open1 = urlopen(url)
    print(type(open1))
    print(open1.geturl())
    for heading in open1.getheaders():
        print(heading)
    html = open1.read()
    print(type(html))
    html = html.decode()
    print(type(html))
#webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

# Question 8

Write SQL queries on the below database table that return upcoming statements

# Solution

# CREATING TABLE

In [37]:
%load_ext sql

In [38]:
%sql sqlite://

In [39]:
%%sql
CREATE TABLE DATA1(City[10],Country[10],Season[10],Temperature,Rainfall);
INSERT INTO DATA1 VALUES('Mumbai','India','Winter','24.8','5.9');
INSERT INTO DATA1 VALUES('Mumbai','India','Spring','28.4','16.2');
INSERT INTO DATA1 VALUES('Mumbai','India','Summer','27.9','1549.4');
INSERT INTO DATA1 VALUES('Mumbai','India','Fall','27.6','340.0');
INSERT INTO DATA1 VALUES('London','United Kingdom','Winter','4.2','207.7');
INSERT INTO DATA1 VALUES('London','United Kingdom','Spring','8.3','169.6');
INSERT INTO DATA1 VALUES('London','United Kingdom','Summer','15.7','157.0');
INSERT INTO DATA1 VALUES('London','United Kingdom','Fall','10.4','218.5');
INSERT INTO DATA1 VALUES('Cairo','Egypt',' Winter','13.6','16.5');
INSERT INTO DATA1 VALUES('Cairo','Egypt','Spring','20.7','6.5');
INSERT INTO DATA1 VALUES('Cairo','Egypt','Summer','27.7',' 0.1');
INSERT INTO DATA1 VALUES('Cairo','Egypt','Fall','22.2','4.5');

 * sqlite://
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [40]:
%sql SELECT* from DATA1;

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', '24.8', '5.9'),
 ('Mumbai', 'India', 'Spring', '28.4', '16.2'),
 ('Mumbai', 'India', 'Summer', '27.9', '1549.4'),
 ('Mumbai', 'India', 'Fall', '27.6', '340.0'),
 ('London', 'United Kingdom', 'Winter', '4.2', '207.7'),
 ('London', 'United Kingdom', 'Spring', '8.3', '169.6'),
 ('London', 'United Kingdom', 'Summer', '15.7', '157.0'),
 ('London', 'United Kingdom', 'Fall', '10.4', '218.5'),
 ('Cairo', 'Egypt', ' Winter', '13.6', '16.5'),
 ('Cairo', 'Egypt', 'Spring', '20.7', '6.5'),
 ('Cairo', 'Egypt', 'Summer', '27.7', ' 0.1'),
 ('Cairo', 'Egypt', 'Fall', '22.2', '4.5')]

# a) All the temperature data.

In [41]:
%sql SELECT Temperature from DATA1;

 * sqlite://
Done.

[('24.8',),
 ('28.4',),
 ('27.9',),
 ('27.6',),
 ('4.2',),
 ('8.3',),
 ('15.7',),
 ('10.4',),
 ('13.6',),
 ('20.7',),
 ('27.7',),
 ('22.2',)]

# b) All the cities, but without repetition.

In [42]:
%sql SELECT City from DATA1 GROUP BY City

 * sqlite://
Done.

[('Cairo',), ('London',), ('Mumbai',)]

# c) All the records for India.

In [43]:
%sql SELECT Country,City,Season,Temperature,Rainfall from DATA1 WHERE Country = 'India';

 * sqlite://
Done.

[('India', 'Mumbai', 'Winter', '24.8', '5.9'),
 ('India', 'Mumbai', 'Spring', '28.4', '16.2'),
 ('India', 'Mumbai', 'Summer', '27.9', '1549.4'),
 ('India', 'Mumbai', 'Fall', '27.6', '340.0')]

# d) All the Fall records.

In [44]:
%sql SELECT Country,City,Season,Temperature,Rainfall from DATA1 WHERE Season = 'Fall';

 * sqlite://
Done.

[('India', 'Mumbai', 'Fall', '27.6', '340.0'),
 ('United Kingdom', 'London', 'Fall', '10.4', '218.5'),
 ('Egypt', 'Cairo', 'Fall', '22.2', '4.5')]

# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [90]:
%sql SELECT City,Country,Season from DATA1 where Rainfall between 200 and 400;   # query may be right but not working.

 * sqlite://
Done.

[]

# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [86]:
%sql select City, Country from DATA1 where Season == 'Fall' and Temperature > 20 order by Temperature ASC;

 * sqlite://
Done.

[('London', 'United Kingdom'), ('Cairo', 'Egypt'), ('Mumbai', 'India')]

# g) The total annual rainfall for Cairo.

In [54]:
%%sql
SELECT SUM(Rainfall) FROM DATA1 
WHERE City = 'Cairo'

 * sqlite://
Done.

[(27.6,)]

# h) The total rainfall for each season.

In [16]:
%sql SELECT SUM(Rainfall) FROM DATA1 WHERE Season = 'Winter' ;

 * sqlite://
Done.

[(213.6,)]

In [17]:
%sql SELECT SUM(Rainfall) FROM DATA1 WHERE Season = 'Summer' ;

 * sqlite://
Done.

[(1706.5,)]

In [18]:
%sql SELECT SUM(Rainfall) FROM DATA1 WHERE Season = 'Spring' ;

 * sqlite://
Done.

[(192.29999999999998,)]

In [19]:
%sql SELECT SUM(Rainfall) FROM DATA1 WHERE Season = 'Fall' ;

 * sqlite://
Done.

[(563.0,)]

# Question 9


. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE','LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in listwords).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN','brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and thelength of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog'] (the list of words in list words containing 4 or morecharacters.)

# Solution

In [55]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
words1 = [element.upper() for element in words]
print(words1)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [56]:
words2 = [element.lower() for element in words]
print(words2)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [57]:
words3 =[]
for str in words:
    words3.append(len(str))
print(words3)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [68]:
combine =[]
combine.append(words1[0:1]+words2[0:1]+words3[0:1])
combine.append(words1[1:2]+words2[1:2]+words3[1:2])
combine.append(words1[2:3]+words2[2:3]+words3[2:3])
combine.append(words1[3:4]+words2[3:4]+words3[3:4])
combine.append(words1[4:5]+words2[4:5]+words3[4:5])
combine.append(words1[5:6]+words2[5:6]+words3[5:6])
combine.append(words1[6:7]+words2[6:7]+words3[6:7])
combine.append(words1[7:8]+words2[7:8]+words3[7:8])
combine.append(words1[8:9]+words2[8:9]+words3[8:9])
print(combine)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [79]:
four = [i for i in words if len(i)>=4]
print(four)

['quick', 'brown', 'jumps', 'over', 'lazy']